/*Navigation Bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    margin-top: 0px;
    width: 100%;
    overflow: hidden;
    background-color: rgb(48, 11, 73);
  }
  
  li {
    display: inline;
    border: 1px, solid, grey;
    float: left;
  }
  
  li a {
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: Helvetica, sans-serif;
    padding: 10px;
  }
  
  li a:hover {
    border-bottom: 2px solid rgb(44, 46, 160);
    padding: 9px;
    background-color: rgb(44, 46, 160);
  }
  
  a {
    display: block;
    padding: 8px;
    background-color: rgb(48, 11, 73);
  }
  
  .active {
    text-decoration: none;
    border-bottom: 2px solid #ED3D63;
    padding-bottom: 3px;
  }
  
  /*Header*/
  header {
    background-color: #8D3FD0;
    color: white;
    text-align: left;
    text-decoration: none;
    margin-top: 0px;
    padding: 10px;
    font-family: Helvetica, sans-serif;
  }
  
  h1{
    display:inline-block;
    padding: 5px;
  }

  /*Title of Page*/
h2 {
    background-color: rgb(20, 187, 187);
    color: white;
    text-decoration: none;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 0;
    padding: 20px;
    font-family: Helvetica, sans-serif;
  }
  
  /*Body*/
  p {
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    color: white;
  }
  
  div {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  body {
    background-color: rgba(113, 103, 250, 0.651);
    margin: 0;
  }
  
  /*Footer - kept at the bottom when there is not enough to fill the whole page*/
  footer {
    margin-top: 20px;
    color: black;
    background-color: #24305E;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    position: absloute;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .diff-main {
    /*To make footer stick to the bottom*/
    flex-grow: 1;
  }
  
  footer p {
    font-size: 15px;
    font-family: Helvetica, sans-serif;
    color: white;
    margin-top: 0;
  }
