/*Navigation Bar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: #dbeb68;
}

li {
  display: inline;
  border: 1px, solid, grey;
  float: left;
}

li a {
  color: white;
  text-decoration: none;
  text-align: center;
  font-family: Helvetica, sans-serif;
  padding: 10px;
}

li a:hover {
  background-color: rgb(211, 17, 17);
}

a {
  display: block;
  padding: 8px;
  background-color: rgb(35, 175, 35);
}

.active {
  background-color: rgb(209, 91, 209);
}

/*Header*/
h2 {
  background-color: rgb(238, 80, 69);
  color: white;
  text-decoration: none;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 0;
  padding: 20px;
  font-family: Helvetica, sans-serif;
}

/*Body*/
p {
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  text-align: center;
  font-family: Helvetica, sans-serif;
  color: white;
  background-color: #374785;
}

div {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  background-color: lightblue;
  margin: 0;
}

/*Footer*/
footer p{
  background-color: #24305E;
  margin-top: 0;
}
