/*Navigation Bar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: #dbeb68;
}

li {
  display: inline;
  border: 1px, solid, grey;
  float: left;
}

li a {
  color: white;
  text-decoration: none;
  text-align: center;
  font-family: Helvetica, sans-serif;
  padding: 10px;
}

li a:hover {
  background-color: rgb(211, 17, 17);
}

a {
  display: block;
  padding: 8px;
  background-color: rgb(35, 175, 35);
}

.active {
  background-color: rgb(209, 91, 209);
}

/*Header*/
h1 {
  background-color: rgb(238, 80, 69);
  color: white;
  text-decoration: none;
  text-align: center;
  margin-top: 35px;
  padding: 20px;
  font-family: Helvetica, sans-serif;
}

/*Body*/
body {
  background-color: #24305E;
  margin: 0; /*Gets rid of a bit on the side*/
}

article {
  background-color: rgb(40, 166, 189);
  margin: 15px;
  padding: 10px;
  margin-bottom: 20px;
  border-style: dashed;
  border-color: black;
  text-align: left;
  font-family: Helvetica, sans-serif;
}

hr {
  height: 2px;
  color: black;
  background-color: black;
  border: none;
}

/*End*/
footer {
  display: block;
}

footer p {
  text-align: center;
  font-size: 15px;
  font-family: Helvetica, sans-serif;
  color: white;
}
