/*Navigation Bar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  margin-top: 0px;
  width: 100%;
  overflow: hidden;
  background-color: #dbeb68;
}

li {
  display: inline;
  border: 1px, solid, grey;
  float: left;
}

li a {
  color: white;
  text-decoration: none;
  text-align: center;
  font-family: Helvetica, sans-serif;
  padding: 10px;
}

li a:hover {
  background-color: rgb(211, 17, 17);
}

a {
  display: block;
  padding: 8px;
  background-color: #FCCD04;
}

.active {
  background-color: #ff7b0f;
}

/*Header*/
header {
  background-color: rgb(238, 80, 69);
  color: white;
  text-align: left;
  text-decoration: none;
  margin-top: 0px;
  padding: 10px;
  font-family: Helvetica, sans-serif;
}

h1{
  display:inline-block;
  padding: 5px;
}

/*Body*/
body {
  background-color: rgba(113, 103, 250, 0.651);
  margin: 0; /*Gets rid of a bit on the side*/
}

.welcome {
  text-align: center;
  font-family: Helvetica, sans-serif;
  color: white;
  background-color: rgb(20, 187, 187);
  top: 0;
  width: 100%;
}

.main {
  margin-top: 30px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-evenly;
}

article {
  color: white;
  margin: 15px;
  padding: 10px;
  margin-bottom: 20px;
  text-align: left;
  font-family: Helvetica, sans-serif;
}

.container {
  background-color: #84CEEB;
  border: 5px solid grey;
  margin: 20px auto;
  height: 250px;
  width: 450px;
}

/*Rounded Corners*/
article h3 {
  border-radius: 20px;
  border: 2px solid rgb(3, 37, 172);
  background-color: rgb(3, 37, 172);
  padding: 10px;
  width: 150px;
  height: 20px;
  margin: 0 auto;
  text-align: center;
}

h3.big_title {
  min-width: 300px;
}

h3.custom_title {
  min-width: 350px;
  min-height: 40px;
}

.date {
  border-radius: 10px;
  background-color: rgb(174, 38, 236);
  padding: 10px;
  width: 75px;
  height: 10px;
  font-size: 12px;
}

.long_date {
  width: 110px;
}

footer {
  height: 80px;
  color: black;
  background-color: #24305E;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  font-size: 15px;
  font-family: Helvetica, sans-serif;
  color: white;
}
