/*Navigation Bar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  margin-top: 0px;
  width: 100%;
  overflow: hidden;
  background-color: rgb(48, 11, 73);
}

li {
  display: inline;
  border: 1px, solid, grey;
  float: left;
}

li a {
  color: white;
  text-decoration: none;
  text-align: center;
  font-family: Helvetica, sans-serif;
  padding: 10px;
}

li a:hover {
  border-bottom: 2px solid rgb(44, 46, 160);
  padding: 9px;
  background-color: rgb(44, 46, 160);
}

a {
  display: block;
  padding: 8px;
  background-color: rgb(48, 11, 73);
}

.active {
  text-decoration: none;
  border-bottom: 2px solid #ED3D63;
  padding-bottom: 3px;
}

/*Header*/
header {
  background-color: #8D3FD0;
  color: white;
  text-align: left;
  text-decoration: none;
  margin-top: 0px;
  padding: 10px;
  font-family: Helvetica, sans-serif;
}

h1{
  display:inline-block;
  padding: 5px;
}

/*Body*/
body {
  background-color: #161B7F;
  margin: 0; /*Gets rid of a bit on the side*/
}

.welcome {
  text-align: center;
  font-family: Helvetica, sans-serif;
  color: white;
  background-color: rgb(20, 187, 187);
  top: 0;
  width: 100%;
}

.main {
  margin-top: 30px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-evenly;
}

article {
  color: white;
  margin: 15px;
  padding: 10px;
  margin-bottom: 20px;
  text-align: left;
  font-family: Helvetica, sans-serif;
}

.container {
  border-radius: 30px;
  border: 2px solid #ED3D63;
  background-color: #ED3D63;
  margin: 20px auto;
  height: 200px;
  width: 450px;
  box-shadow: 10px 10px 5px #8D3FD0;
}

/*Rounded Corners*/
article h3 {
  border-radius: 20px;
  border: 2px solid #0683D7;
  background-color: #0683D7;
  padding: 10px;
  width: 150px;
  height: 20px;
  margin: 0 auto;
  text-align: center;
}

h3.big_title {
  min-width: 300px;
}

h3.custom_title {
  min-width: 350px;
  min-height: 40px;
}

h3.anniversary_title {
  min-width: 300px;
}

.date {
  width: 75px;
  height: 10px;
  font-size: 12px;
}

.long_date {
  width: 110px;
}

footer {
  height: 80px;
  color: black;
  background-color: rgb(48, 11, 73);
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  font-size: 15px;
  font-family: Helvetica, sans-serif;
  color: white;
}
